@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.css';

html,
body {
  scroll-behavior: smooth;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  background-color: #09090b;
  color: white;
}

::selection {
  background-color: rgba(255, 255, 255, 0.85);
  color: rgba(0, 0, 0, 0.75);
}
